// Import Poppins GOOGLE FONT
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

// ABSTRACT FOLDER IMPORTS
@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";

// BASE FOLDER IMPORTS
@import "base/base";
@import "base/typography";
@import "base/utilities";
@import "base/animations";

// LAYOUT FOLDER IMPORTS
@import "layout/layout";